<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcooOmQuVPBwwaLOkVw95x_K2jjt1pono</string>
	<key>GCM_SENDER_ID</key>
	<string>878910014917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gawa.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gawa-2728d</string>
	<key>STORAGE_BUCKET</key>
	<string>gawa-2728d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878910014917:ios:baa12c0a0c4fc350eaf7ac</string>
</dict>
</plist>